body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: url("red.png") no-repeat;
    background-size: cover;
}


nav{
    background: #191241;
    height: 80px;
    width: 100%;
    float: right;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;

}
nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 44px 20px;
    text-decoration: none;
    font-size: 17px;
}

nav ul a:hover {
    background-color: #ddd;
    color: black;
}

nav ul a.active {
    background-color: #2F227A;
    color: white;
}

.center {
    text-align: left;
    padding-top: 100px;
    padding-left: 100px;
}
h1 {
    color: #191241;
    font-size: 70px;
}
.btn{
    background-color: #fadb8e;
    border: none;
    cursor: pointer;
    color: #191241;
    padding: 15px  50px;
    font-size: 18px;
    border-radius: 12px;
    margin: 12px 0;
}

#naam {
    color: #191241;
    background: none;
    border: 2px solid #fadb8e;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
#naam input {
    border: none;
    outline: none;

}
#telefoonnummer {
    color: #191241;
    background: none;
    border: 2px solid #fadb8e;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
#telefoonnummer input {
    border: none;
    outline: none;

}
#email {
    color: #191241;
    background: none;
    border: 2px solid #fadb8e;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
#email input {
    border: none;
    outline: none;

}
#dd-mm-jjjj {
    font-family: sans-serif;
    color: #191241;
    background: none;
    border: 2px solid #fadb8e;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
#dd-mm-jjjj input {
    border: none;
    outline: none;

}
#tijd {
    font-family: sans-serif;
    color: #191241;
    background: none;
    border: 2px solid #fadb8e;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
#tijd input {
    border: none;
    outline: none;

}
#personen {
    color: #191241;
    background: none;
    border: 2px solid #fadb8e;
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
#personen input {
    border: none;
    outline: none;

}
#opmerkingen {
    color: #191241;
    width: 400px;
    height: 100px;
    background: none;
    border: 2px solid #fadb8e;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;

}
#opmerkingen input {
    border: none;
    outline: none;

}

.blue-color {
    color: #191241;
}


